<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>launchpageDome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46C5E3C81EA5DB6200933511</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46C5E3E41EA5DB6200933511</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46C5E3EF1EA5DB6200933511</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
